@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
// font-family: 'Montserrat', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");
// font-family: 'Fraunces', serif;

// Primary colors
$dark-cyan: hsl(158, 36%, 37%);
$cream: hsl(30, 38%, 92%);

// Neutral colors
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

$desktop: 62.5em;

@mixin flex($direction) {
  display: flex;
  align-items: $direction;
  justify-content: $direction;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  box-sizing: border-box;
  background-color: $cream;
  color: $dark-grayish-blue;
  height: 100vh;

  @include flex(center);
}

.btn:link,
.btn:visited {
  color: $white;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 1.2rem;
  border-radius: 6px;
  text-align: center;
  background-color: $dark-cyan;

  @include flex(center);
  gap: 0.8rem;
}

.btn:link img {
  height: 1.3rem;
  width: 1.3rem;
}

.btn:hover,
.btn:active {
  background-color: #1e4034;
}

.card {
  background-color: $white;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 2rem;
  border-radius: 9px;
  overflow: hidden;
  max-width: 33rem;

  &__img {
    width: 100%;
    height: 100%;
  }

  & .dekstop--img {
    display: none;
  }

  &__text {
    padding: 1.6rem 2rem;
  }

  &__sub-title {
    color: $dark-grayish-blue;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 700;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 0.8rem;
  }

  &__title {
    font-family: "Fraunces", serif;
    font-size: 2.6rem;
    line-height: 1.1;
    margin-bottom: 1.4rem;
    color: #000;
  }

  &__description {
    font-size: 1.1rem;
    line-height: 1.7;
    margin-bottom: 2.4rem;
    padding-right: 4rem;
  }

  &__price {
    display: flex;
    align-items: center;
    gap: 1.2rem;

    margin-bottom: 1.2rem;
  }

  &__price-title {
    font-size: 2.6rem;
    font-family: "Fraunces", serif;
    color: $dark-cyan;
  }

  &__price-sub-title {
    font-size: 1.1rem;
  }
}

@media (min-width: $desktop) {
  html {
    font-size: 72.5%;
  }

  .card {
    grid-template-columns: 1fr 1fr;
    max-width: 51.7rem;
    align-items: center;

    & .mobile--img {
      display: none;
    }

    & .dekstop--img {
      display: block;
    }

    &__sub-title {
      margin-bottom: 1.6rem;
      font-weight: 500;
    }

    &__title {
      margin-bottom: 2.4rem;
    }

    &__description {
      padding-right: 3rem;
    }

    &__price {
      margin-bottom: 2.4rem;
    }
  }
}
